/* CSS Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    display: flex;
    position: fixed;
    height: 100px;
    width: 100vw;
    align-items: center;
    background-color: rgb(255, 183, 183);
    z-index: 99;
}

.logo {
    margin-left: 200px;
    background-image: url("/img/Logo.png");
    flex-grow: 2;
    background-repeat: no-repeat;
    height: 70px;
    
}

.nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 100px;
    list-style-type: none;
}

.nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

.nav a:hover {
    color: #EFA7A7;
}

/* welcome banner */
.welcome_banner{
    position: flex;
    width: 100vw;
    height: 100vh;
}

.welcome_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Title */

.title {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 450px;
}

.title h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.title h2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 900px;
}

.find_out_more {
  width: 200px;
  background-color: white;
  height: 50px;
  border: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

.find_out_more:hover {
  background-color: black;
  color: white;
}


/* Body */
.content {
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  height: 60vh;
  background-color: white;
}

/*Pop-up Box*/
#pop-up-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 800px;
  height: 650px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

/* .popup_content{

  display: flex;
  flex-direction: column;
  background-color: black;
  width: 750px;
  height: 400px;
} */


.close_button {
  width: 200px;
  background-color: white;
  height: 50px;
  border: solid;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 20px;
}

.close_button:hover {
  background-color: black;
  color: white;
}




.music_section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 1280px;
  background-image: url("/img/background-01.png");
  background-size: 100%;
}

/* Music Player */

#audio-player {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 390px;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.363);
}

#album-art {
  margin-left: 40px;
  width: 300px;
  height: 300px;
  
}

#album-art img {
  width: 100%;
  height: 100%;
}

#audio-controls {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#play-pause-button {
  font-size: 20px;
  width: 70px;
  height: 70px;
  background-color: #ffffff00;
  color: white;
  border: none;
  border-radius: 60%;

}

#play-pause-button:hover {
  background-color: white;
  color: black;
}

#play-pause-button:focus {
  outline: none;
}



/* Footer */

footer {
    display: flex;
    background-color: rgb(255, 183, 183);
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}
.copyright {
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Contact Form */
.contact  {
  background: rgb(255, 183, 183);
  padding: 30px 0 50px 0;
  text-align: center;
}

.contact h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.contact form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 400px;
  height: 450px;
  text-align: left;
  padding: 10px 0;
}

.contact form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

html body div.contact form input#name {
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #ffdcdc;
  border: none;
  padding-left: 15px;
  color: grey;
}

html body div.contact form input#email {
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #ffdcdc;
  border: none;
  padding-left: 15px;
  color: grey;
}

html body div.contact form input#subject {
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #ffdcdc;
  border: none;
  padding-left: 15px;
  color: grey;
}

#message {
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #ffdcdc;
  border: none;
  padding-top: 15px;
  padding-left: 15px;
  color: grey;
}

html body div.contact form button {

  background-color: #ffdcdc;
  height: 40px;
  border: none;
  border-color: white;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: rgb(255, 183, 183);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}



/* Set a style for the submit/login button */
.form-container .btn {
  background-color: rgb(255, 183, 183);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #7ADFBB;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
} 


